:root {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: Norse-Bold;
	src: url(./assets/Norse-Bold.otf);
}

body {
	display: flex;
}

.splash {
	height: 100vh;
	background-image: url(./assets/leafs.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 2;
}

.logo {
	background-color: rgba(0,0,0,50%);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin-top: 200px;
}

.logo > img {
	width: 100px;
}

.logo > h1 {
	color: white;
	font-family: Norse-Bold;
	font-size: 100px;
}

.credit {
	color: white;
	margin-top: auto;
	text-align: center;
	padding: 12px;
	font-size: 0.8rem;
}

.credit a {
	color: white;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 4;
}

.main > form {
}

.form-description {
	margin: 50px;
	font-size: 1.5rem;
	font-weight: bold;
	background-color: hsl(210, 20%, 98%);
}

.form-description p {
	margin-bottom: 30px;
}

.form-main {
	padding: 0 0 20px 50px;
	box-shadow: 0px 5px 5px -5px grey;
}

.inputContainer {
	display: grid;
	grid-template-columns: min-content min-content;
	column-gap: 100px;
	row-gap: 25px;
}

h1 {
	margin-bottom: 25px;
}

input:focus {
	outline: #0070ff solid 2px;
	box-shadow: 1px 1px 3px -1px black;
}

input {
	display: block;
	border-radius: 3px;
	border: 1px solid #E5E7EB;
	width: 260px;
	height: 30px;
	text-indent: 10px;
}

label {
	display: block;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 500;
}

.message {
	display: none;
	color: red;
	font-size: 0.7rem;
	font-weight: 500;
}

.error {
	outline: red solid 2px;
}

.error:focus {
	outline: red solid 2px;
}